{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."]
      }
    }
  },
  "globals": {
    "React": "writable"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-onchange": "off",
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ]
  },
  "plugins": ["react"]
}
