{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["next", "plugin:jsx-a11y/recommended", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."]
      }
    }
  },
  "globals": {
    "React": "writable"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": 0
  },
  "plugins": ["react"]
}
