.soon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100% - var(--headerHeight));

  .soon-title {
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    display: block;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
    color: var(--color-primary);

    -webkit-animation: typing 2s steps(20, end),
      blink-caret 0.75s step-end infinite;
  }

  .img-container {
    width: 40%;
  }
}

@media screen and (max-width: 880px) {
  .soon-wrapper {
    .soon-title {
      font-size: 2em;
    }

    .img-container {
      width: 100%;
    }
  }
}

.programmer {
  width: 100%;
  -webkit-animation: fadeIn 1s ease normal forwards 1, scale 1s ease normal 1;
  animation: fadeIn 1s ease normal forwards 1, scale 1s ease normal 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
